@charset 'utf-8';

body {
  background-color: #fdfbf4;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Malgun Gothic",
    "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
}
.flex {
  display: flex;
}
span {
  display: block;
}
strong {
  font-weight: 700;
}

/* 스크롤바 */
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background-color: #fff7d9;
}
::-webkit-scrollbar-thumb {
  background-color: #b3ac9b;
  border-radius: 5px;
}

/* 부드러운 스크롤 */
html {
  scroll-behavior: smooth;
}
/* -------변경xxxx------- */

.upbtn {
  width: 38px;
  height: 38px;
  right: 7.5%;
  bottom: 7.5vw;
  background-color: #131313;
  position: fixed;
  z-index: 99;
  transition: 0.3s;
  opacity: 0;
  pointer-events: none;
}
.upbtn i {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 13px;
  height: 13px;
  margin-left: -7px;
  margin-top: -3px;
  border-top: #fff solid 1px;
  border-right: #fff solid 1px;
  transform: rotate(-45deg);
}
/* more-btn */

.more-btn a {
  color: #3f303d;
  font-weight: 700;
  font-size: 16px;
  display: inline-block;
  min-width: 140px;
  height: 45px;
  padding: 0 60px 0 20px;
  line-height: 45px;
  background-color: #c7aa85;
  border: 2px solid #c7aa85;
  vertical-align: middle;
  position: relative;
}
.more-btn a:before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 3px;
  background-color: #3f303d;
  position: absolute;
  right: 25px;
  top: 50%;
}
.more-btn a:hover {
  color: #c7aa85;
  background-color: transparent;
  border: 2px solid #c7aa85;
}
.more-btn a:hover::before {
  background-color: #c7aa85;
}
/* -------commonnes------- */
.commonness-txt {
  font-size: 14px;
}
.commonness-txt h2 {
  font-weight: 700;
  letter-spacing: 4px;
  line-height: 25px;
  margin-bottom: 5px;
}
.commonness-txt h3 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
}
.commonness-txt p {
  padding: 10px 0;
  font-weight: 400;
}
.wrap85 {
  width: 90%;
}
/* ***header*** */
header {
  width: 100%;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 999999;
}
header .header-wrapper {
  height: 60px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  width: 175px;
}
header a {
  display: block;
}
header a img {
  width: 100%;
}
header nav .nav-bar {
  display: none;
}
header nav .nav-bar.act {
  display: block;
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 60px;
  left: 0;
  padding: 2% 3%;
}
header nav .nav-bar a {
  font-weight: 700;
  text-transform: uppercase;
  padding: 14px 5px 10px;
}
/* -----mobile-btn----- */
header nav .mobile-btn a {
  display: block;
  width: 27px;
  aspect-ratio: 1;
  position: relative;
}
header nav .mobile-btn a::before {
  content: "";
  display: block;
  width: 27px;
  height: 3px;
  background-color: #131313;
  position: absolute;
  top: 0;
}
header nav .mobile-btn a i {
  display: block;
  width: 27px;
  height: 3px;
  background-color: #131313;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
header nav .mobile-btn a::after {
  content: "";
  display: block;
  width: 22px;
  height: 3px;
  border-radius: 3px;
  background-color: #131313;
  position: absolute;
  bottom: 0;
  right: 0;
}
header nav .mobile-btn a:hover i {
  display: none;
}
header nav .mobile-btn a:hover:before {
  transform: rotate(45deg) translateY(-50%);
  top: 50%;
  left: 0;
  width: 35px;
}
header nav .mobile-btn a:hover:after {
  transform: rotate(-45deg) translateY(-50%);
  top: 50%;
  left: 0;
  width: 35px;
}
/* -----------main----------- */
/* -- container -- */
section:first-child {
  height: 605px;
}
.main-container {
  width: 100%;
}
.main-container .main-box {
  margin: 20% auto 5%;
  gap: 20px;
}
.main-container .main-box .num-btn li {
  margin-left: 20px;
  position: relative;
  font-size: 18px;
}
.main-container .main-box .num-btn li a::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 3px;
  background-color: #7e7e7e;
  position: absolute;
  left: -20px;
  top: 50%;
}
.main-container .main-box .box-txt {
  font-family: "Pretendard Variable", -apple-system, BlinkMacSystemFont,
    "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
  letter-spacing: -1px;
}
.main-container .main-box .box-txt h2 {
  font-weight: 300;
  margin-bottom: 5px;
  font-size: 22px;
  line-height: 34px;
}
.main-container .main-box .box-txt h3 {
  font-weight: 700;
}
/* -- box-txt -- */
.main-container .main-box .box-txt p {
  display: none;
}
.main-container .main-box .box-txt p span {
  display: inline;
}
.main-container .main-img {
  overflow: hidden;
  max-height: 480px;
  margin: 0 auto;
}

/* -- sns & arrow list -- */
.main-container .main-sns ul {
  display: none;
}
.main-container .main-arrow {
  display: none;
}

/* -- about-container -- */
.about-container {
  margin-top: 55px;
  padding-top: 100px;
}
.about-container .about-wrap {
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}
.about-container .about-wrap .commonness-txt {
  overflow: hidden;
  word-break: keep-all;
  word-wrap: break-word;
  white-space: nowrap;
}
.about-container .about-wrap .commonness-txt h3 {
  font-size: 27px;
}
.about-container .about-wrap .commonness-txt p {
  font-size: 12.5px;
}
.about-container .about-wrap .about-img {
  padding-top: 150px;
  text-align: center;
}
.about-container .about-wrap .about-img img {
  max-width: 350px;
  aspect-ratio: 1;
}
.about-container .about-wrap .more-btn {
  position: absolute;
  top: 240px;
}

/* -- ani-container -- */
.ani-container {
  margin-top: 100px;
  color: rgba(19, 19, 19, 0.2);
  font-size: 130px;
  font-weight: 700;
  overflow: hidden;
  word-break: keep-all;
  word-wrap: break-word;
  white-space: nowrap;
}
.ani-container h1 {
  animation: move1 10s infinite linear;
}
.ani-container h2 {
  color: transparent;
  -webkit-text-stroke: 1px rgba(19, 19, 19, 0.2);

  animation: move 10s infinite linear;
}

@keyframes move1 {
  0% {
    transform: translate3d(0%, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}
@keyframes move {
  0% {
    transform: translate3d(-50%, 0, 0);
  }
  100% {
    transform: translate3d(0%, 0, 0);
  }
}

/* -- store-container -- */
.store-container .store-wrap {
  margin: 0 auto;
}

.store-container .store-imgbox {
  background: url(./images/namsan.jpg) no-repeat 50% / cover;
  height: 850px;
  position: relative;
}

.store-container .store-imgbox .store-info {
  margin: 0 5%;
  color: #fff;
  position: absolute;
  bottom: 70px;
}
.store-container .store-wrap .commonness-txt {
  padding: 10px 0;
}
.store-container .store-imgbox .store-info .commonness-txt p span {
  display: inline;
}
.store-container .store-wrap .store-text {
  padding: 10px 0;
}
.store-container .store-list {
  display: none;
}
.store-container .store-none {
  width: 40%;
  /* display: none; */
  display: flex;
  color: #fff;
  justify-content: space-between;
  margin: 0 30%;

  position: absolute;
  bottom: 35px;
  z-index: 9;
}
.store-container .store-none li {
  display: block;
  position: relative;
}
.store-container .store-none li::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 3px;
  background-color: #fff;
  opacity: 0.5;
  position: absolute;
}
.store-container .store-none li.active::after {
  background-color: #fff;
  opacity: 1;
}
.store-container .store-imgbox .more-btn a {
  color: #b18468;
  background-color: #fff;
  border: 2px solid #fff;
}
.store-container .store-imgbox .more-btn a::before {
  background-color: #b18468;
}
.store-container .store-imgbox .more-btn a:hover {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
}
.store-container .store-imgbox .more-btn a:hover::before {
  background-color: #fff;
}
.store-container .store-imgbox .more-btn {
  margin-top: 20px;
}
/* -- map-container -- */
.map-container .map-wrap {
  padding: 100px 0;
  margin: 0 auto;
}
.map-container .map-wrap .more-btn {
  margin-top: 40px;
}
.map-container .map-wrap .commonness-txt h3 {
  margin-bottom: 60px;
}
.map-container .map-wrap .commonness-txt .kakao-map {
  border: #fff 1px solid;
  width: 100%;
  aspect-ratio: 4/3;

  margin-bottom: 45px;
  position: relative;
}
/* -- info-container -- */
.footer {
  min-width: 320px;
}
.info-container {
  background-color: #f1efee;
  width: 100%;
}
.info-container .info-wrap {
  padding: 60px 0;
  flex-direction: column;

  width: 83.3333%;
  margin: 0 auto;

  line-height: 30px;
  font-size: 12px;
}
.info-container .info-wrap .info-sns {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
}
.info-container .info-wrap .info-sns div {
  margin-right: 10px;
}
.info-container .info-wrap .info-copy {
  padding: 15px 0;
  font-size: 11px;
}
.info-container .info-wrap .info-copy div {
  margin-right: 10px;
}
.info-container .info-wrap .info-copy div:last-child {
  margin-right: 0;
}
.info-container .info-wrap .info-tel strong {
  width: 80px;
  margin: 10px;
  margin-right: 10px;
  display: inline-block;
}
/* .info-container .info-wrap .info-tel li strong {
  display: inline-block;
  width: 30%;
} */
.info-container .info-wrap .info-tel li {
  align-items: baseline;
}
.info-container .info-wrap .info-tel li span {
  display: inline-block;
  width: 80%;
}

.info-container .info-wrap .info-me {
  padding-left: 95px;
}
.info-container .info-wrap .info-me a {
  border: 1px solid #131313;
  font-weight: 700;
  padding: 5px 7px;
  transition: 1s;
}
.info-container .info-wrap .info-me:hover a {
  background-color: #131313;
  color: #fff;
  border-radius: 20px;
}
