@charset 'utf-8';

/* ------ new ------ */
/* -- box-txt -- */
.main-container .main-box .box-txt p {
  display: block;
}
/*  commonness  */
.commonness-txt {
  font-size: 15px;
}
.commonness-txt h3 {
  font-size: 40px;
}
.commonness-txt p {
  font-size: 15px;
}
/* ---- */

/* -- arrow list -- */
.main-container .main-box .box-txt p {
  word-wrap: normal;
  word-break: keep-all;
}
.main-container .main-arrow {
  display: inline-block;
  gap: 1px;
  justify-content: center;
}
.main-container .main-img {
  position: relative;
}
.main-container .main-arrow {
  position: absolute;
  display: inline-block;
  right: 10%;
  top: 400px;
  z-index: 99999;
}
.main-container .main-arrow .left-btn,
.right-btn {
  display: inline-block;
  width: 80px;
  height: 80px;
  background: #666666;

  position: relative;
}
.main-container .main-arrow .left-btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 24px;
  height: 24px;
  margin-left: -14px;
  margin-top: -9px;
  border-top: #fff solid 2px;
  border-right: #fff solid 2px;
  transform: rotate(225deg);
}

.main-container .main-arrow .right-btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 24px;
  height: 24px;
  margin-left: -14px;
  margin-top: -9px;
  border-top: #fff solid 2px;
  border-right: #fff solid 2px;
  transform: rotate(45deg);
}
/* -- container -- */

.main-container .main-box .box-txt h2 {
  font-size: 55px;
  line-height: 65px;
  letter-spacing: -3px;
}
.main-container .main-box .box-txt h3,
p {
  word-wrap: normal;
  word-break: keep-all;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
}
/* -- about-container -- */
.about-container {
  padding-top: 120px;
}
.about-container .about-wrap .commonness-txt {
  width: 65%;
  text-align: left;
}
.about-container .about-wrap .commonness-txt h3 {
  font-size: 33px;
}
.about-container .about-wrap .about-img {
  padding: 0;
  float: left;
  width: 45%;
  aspect-ratio: 1;
  position: absolute;
  vertical-align: middle;
  right: 0;
  top: 0;
}
.about-container .about-wrap .about-img img {
  display: inline-block;
  vertical-align: middle;
  max-width: 500px;
  width: 100%;
}
.about-container .about-wrap .more-btn {
  position: static;
  margin-top: 97px;
}
/* -- store-container -- */
.commonness-txt .store-title {
  float: left;
  width: 50%;
}
.commonness-txt .store-text {
  float: right;
  width: 50%;
}
.store-container .store-imgbox {
  margin-top: 340px;
  position: relative;
}
.store-container .store-imgbox .store-info {
  position: absolute;
  top: 50%;
  display: inline-block;
  vertical-align: middle;
  float: left;
}
.store-container .store-list {
  font-size: 17px;
  font-weight: 700;
  color: #fff;

  right: 5%;
  position: absolute;
  top: 50%;
  z-index: 1;
  text-align: right;
}
.store-container .store-list li {
  margin-right: 50px;
  position: relative;
}
.store-container .store-list li a::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  right: -50px;
  top: 50%;
}
