@charset 'utf-8';
/* 부드러운 스크롤 */
html {
  min-width: 1060px;
  scroll-behavior: smooth;
}
body {
  text-transform: capitalize;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Malgun Gothic",
    "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;

  /* Pretendard Variable" */
}

.flex {
  display: flex;
  justify-content: space-between;
}

.w87 {
  width: 87%;
  margin: 0 auto;
}

.grid {
  display: grid;
}

.title_All {
  border-bottom: 3px solid #000;
  /* padding-bottom: 30px; */
}
.title_All h1 {
  font-size: calc(5rem + 5vw);
  font-weight: 500;
  vertical-align: bottom;
  text-align: end;
  text-align: left;
}
.title_All svg {
  width: 250px;
  transform: rotate(-180deg);
}

.moer_btn a {
  display: block;
  width: 100px;
  margin: 30px 0;
  padding: 5px 10px;
  text-align: center;
  font-weight: 500;
  border-radius: 20px;
  background-color: #dbfe04;
  transition: 0.5s;
}
.moer_btn a:hover {
  display: block;
  width: 100px;
  margin: 30px 0;
  padding: 5px 10px;
  text-align: center;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #dbfe04;
}

.unline {
  font-weight: 500;
  font-size: 60px;
  margin: 70px 0;
  text-decoration: underline 2px;
  text-underline-offset: 22px;
  position: relative;
}
.unline::before {
  content: "";
  display: block;
  background-color: #000;
  width: 200px;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: -200px;
}
/* -------header------- */
header {
  box-sizing: border-box;
  position: fixed;
  border-bottom: 1px rgba(0, 0, 0, 0.5) solid;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 10px;
  background: #fff;
}
.nav_bar {
  padding: 20px 0;
}

.toptxt a {
  display: block;
  width: 100px;
}
.nav_bar .toptxt {
  justify-content: center;
  align-content: center;
}

.nav_bar .toptxt .logo {
  width: 100%;
  height: 100%;
  background: url(./images/logo.png) no-repeat 50% / contain;
  text-indent: -99999999px;
}

.nav_bar .toptxt .line {
  margin: 0 10px;
  height: 1px;
  width: 75px;
  align-self: center;
}

.nav_bar ul {
  width: 30%;
}

/* -------main------- */
.mian_container {
}

.mian_container .mian_wrapr {
  padding: calc(7vh + 4vw) 0;
}

.mian_container .mian_wrapr .main_txt {
}

.mian_container .mian_wrapr .main_ani {
  width: 25%;
  aspect-ratio: 1;
  background: url(./images/main_ain.png) no-repeat 50% / cover;
  animation: spin infinite linear 10s;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.mian_container .main_go svg {
  width: 100%;
}
.mian_container .main_go {
  display: block;
  position: relative;
  font-weight: 400;
  font-size: calc(1vw + 15px);
}
.mian_container .main_go .go_txt span:first-child {
  position: absolute;
  top: 3%;
  left: 20%;
}
.mian_container .main_go .go_txt span:nth-child(2) {
  position: absolute;
  bottom: 17%;
  right: 5%;
}
.mian_container .main_go .go_txt span:last-child {
  text-align: right;
  position: absolute;
  bottom: 17%;
  right: 2%;
}
.mian_container .main_go .go_txt span svg {
  width: 10%;
  animation: move1 2s infinite;
}

@keyframes move1 {
  0% {
    transform: translateY(0%) rotate(135deg);
  }
  50% {
    transform: translateY(50%) rotate(135deg);
  }
  100% {
    transform: translateY(25%) rotate(135deg);
  }
}
/* -------projects------- */
.projects_container {
  padding: 5vw 0;
}
.projects_container .projects_go .intogo {
  margin-top: 2vw;
  display: flex;
  gap: 1.5vw;
}
.projects_container .projects_go .intogo a {
  font-family: Pretendard Variable;
  font-weight: 500;
  font-size: calc(5px + 1vw);
  display: block;
  display: flex;
  padding: 10px 40px;
  background-color: #dbfe04;
  border-radius: 50px;
  gap: 10px;
}
.projects_container .projects_go .intogo a svg {
  width: calc(8px + 1vw);
  transform: rotate(90deg);
  transition: 0.3s;
}
.projects_container .projects_go .intogo a:hover svg {
  transform: rotate(45deg);
}
.projects_container .combox .flex {
  justify-content: space-around;
}
.projects_container .combox .site {
  width: 40%;
  /* border: 1px solid #000; */
  border-radius: 20px;
  background-color: rgba(238, 238, 238, 0.7);
}
.projects_container .combox .site .site_bg {
  width: 90%;
  aspect-ratio: 5.7/4;
  margin: 30px auto;
  border-radius: 20px;
}
.projects_container .combox .site .site_bg a {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.projects_container .combox .site .site_bg:hover a {
  background-color: #dbfe04;
  opacity: 0.5;
}
.projects_container .indibox .site1 .site_bg {
  background: url(./images/grangand.png) no-repeat 50% / cover;
}
.projects_container .combox .site .site_txt {
  font-family: Pretendard Variable;
  width: 90%;
  margin: 0 auto;
}
.projects_container .combox .site .site_txt h3 {
  font-size: calc(1.5rem + 1vw);
  margin: 5% 0;
  font-weight: 600;
}
.projects_container .combox .site .site_txt p {
  margin: 15px 0;
  font-weight: 500;
}

/* -------skills------- */

.skills_container .skills_bg {
  background: linear-gradient(
    #ddfe0400,
    #ddfe047e,
    #ddfe04dc,
    #ddfe047e,
    #ddfe0400
  );
  padding: calc(200px + 1vw) 0;
}
.skills_container .skills_text {
  border-bottom: 1px solid #000;
}
.skills_container .skills_text svg {
  width: 20px;
}
.skills_container .skills_text h2 {
  font-size: calc(3rem + 1vw);
  font-weight: 500;
  margin: 20px 0 40px;
  position: relative;

  /* overflow: hidden; */
}
.skills_container .skills_text h2:before {
  content: "";
  font-family: Pretendard Variable;
  font-size: 15px;
  text-align: center;
  display: block;
  border: 1px solid #000;
  border-radius: 15px;
  padding: 3px 10px;
  position: absolute;
  left: -60px;
}
/* 숫자 */
.skills_container .skills_text:first-child h2:before {
  content: "01+";
}
.skills_container .skills_text:nth-child(2) h2:before {
  content: "02+";
}
.skills_container .skills_text:nth-child(3) h2:before {
  content: "03+";
}
.skills_container .skills_text:nth-child(4) h2:before {
  content: "04+";
}
.skills_container .skills_text:nth-child(5) h2:before {
  content: "05+";
}
/* 내용넣기 */
.skills_container .skills_text h2::after {
  content: "";
  font-family: Pretendard Variable;
  font-size: 17px;
  font-weight: 400;
  text-align: left;
  line-height: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 700px;
  white-space: pre;
  transition: 0.5s;
}
.skills_container .skills_text:hover h2 {
  right: 80px;
}
.skills_container .skills_text:first-child:hover h2::after {
  content: "웹사이트 구축 \A flex,grid,position를 사용가능 \A 미디어 쿼리를 이용한 반응형 웹 제작 \A css로 간단한 애니메이션 구현";
  left: calc(100% + 40px);
}
.skills_container .skills_text:nth-child(2):hover h2::after {
  content: "";
  left: calc(100% + 40px);
}
.skills_container .skills_text:nth-child(3):hover h2::after {
  content: "간단한 이미지 편집및 수정";
  left: calc(100% + 40px);
}
.skills_container .skills_text:nth-child(4):hover h2::after {
  content: "GitBash 사용가능 \A GitHub를 통해 버전관리 & 팀프로젝트공유";
  left: calc(100% + 40px);
}
.skills_container .skills_text:nth-child(5):hover h2::after {
  content: "와이어프레임& 프로토타입 제작 \A Figma를 이용한 팀프로젝트 ";
  left: calc(100% + 40px);
}
.skills_container .imz {
  width: 15%;
  align-content: center;
}
.skills_container .imz li {
  margin: 20px 0;
}
.skills_container .imz li svg {
  width: 15px;
}
.skills_container .imz li path {
  fill: rgba(0, 0, 0, 0.8);
}
/* ------- About Me------- */

.about_container .about_wrapr {
  background: linear-gradient(#ddfe0400, #ddfe047e, #ddfe04dc);
  padding: calc(70px + 1vw) 0 0;
}
.about_container .about_wrapr .about .flex {
  align-items: center;
  gap: 30px;
}
.about_container .about_wrapr .about .me_img {
  width: 32%;
  min-width: 265px;
  aspect-ratio: 1;
  border-radius: 30%;
  background: url(./images/me.jpg) no-repeat 50% / cover;
}
.about_container .about_wrapr .about .flex ul {
  font-family: Pretendard Variable;
  font-size: calc(1rem + 0.5vw);
  line-height: 2;
  list-style: circle;
}
.about_container .about_wrapr .contact {
  width: 30%;
  padding-bottom: 30px;
}

.contact li {
  width: 70px;
  height: 70px;
  margin: 20px 0;
}

.contact li a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -9999pc;
}

.contact li .mali {
  background: url(./images/sns.png) no-repeat;
  background-position: left top;
}

.contact li .git {
  background: url(./images/sns.png) no-repeat;
  background-position: left 50%;
}

.contact li .talk {
  background: url(./images/sns.png) no-repeat;
  background-position: left bottom;
}

.contact li i {
  border-radius: 20px;
  background-color: #000;
  overflow: hidden;
  position: absolute;
  left: 15px;
  opacity: 0;
}

.contact li:hover a i {
  display: block;
  width: 70px;
  height: 70px;
  opacity: 1;
  left: 0;
  top: 0;
  z-index: -9;

  transition-duration: 0.2s;
}

.contact li .mali:hover {
  background-position: right top;
}

.contact li:hover .git {
  background-position: right 50%;
}

.contact li .talk:hover {
  background-position: right bottom;
}

.about_container footer {
  text-align: center;
  border-top: 1px solid #000;
  padding: 30px 0;
}
